**Display float number with 2 decimal places using print()**

In [ ]:
float = 2.154327
format_float = "{:.2f}".format(float)
print(format_float)

2.15

**Takes two integer numbers and  return their product.**

In [ ]:
n1 = int(input("Enter a number: "))
n2 = int(input("Enter another number: "))

prod = n1*n2

print(prod)

Enter a number: 10
Enter another number: 20
200

**Write a Python program to get the volume of a sphere with radius 10.**

In [ ]:
pi = 3.1415926535897931
r= 10.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  4188.790204786391

**Write a Python program to calculate the length of a string**

In [ ]:
str = input("Enter a string: ")
print("Length of the input string is:", len(str))

Enter a string: Siddhant
Length of the input string is: 8

**Write a Python program to parse a string to Float & Integer**

In [ ]:
str1 = "6000"
casted_int = int(str1)
print(casted_int)

6000

**Given two integer numbers return their sum. If the sum is greater than 100, then return their product.**

In [ ]:
n1 = int(input("Enter First Number"))
n2 = int(input("Enter Second Number"))

sum = n1+n2
mul = n1*n2

if(sum > 100):
    print(mul)
else:
    print(sum)

Enter First Number50
Enter Second Number60
3000

**Write a Python program to calculate the sum of three given numbers, if the values are not - equal then return four times of their sum**

In [ ]:
n1 = int(input("Enter First Number "))
n2 = int(input("Enter Second Number "))
n3 = int(input("Enter Third Number "))

sum = n1 + n2 + n3
if(n1 != n2):
    print(4*sum)
elif(n1 == n2 and  n2 == n3 ):
    print(sum)

Enter First Number 10
Enter Second Number 10
Enter Third Number 10
30

**To check whether a given number is even or odd.**

In [ ]:
num = int(input("Enter an Number: "))

if (num % 2) == 0:
  print("Number is Even")
else:
  print("Number is Odd")

Enter an Number: 5
Number is Odd

Program to find digital sum of a given Number
   ex: n=123  Digital sum----->1+2+3=6

In [ ]:
def getSum(n):
    
    sum = 0
    while (n != 0):
       
        sum = sum + (n % 10)
        n = n//10
       
    return sum
   
n = 12345
print(getSum(n))

15

**Program to reverse a given Number.    ex: n=123   Reversed no is 321**

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10


reversed_num

4321

**Pattern 1**

In [ ]:

def pypart(n):
    
    for i in range(0, n):
   
        for j in range(0, i+1):

            print("* ",end="")

        print("\r")
 
n = 5
pypart(n)

*
* *
* * *
* * * *
* * * * *

**Pattern2**

In [ ]:

def numpat(n):
	

	num = 1


	for i in range(0, n):
	
		num = 1

		for j in range(0, i+1):
		

			print(num, end=" ")
	
			num = num + 1
	
		print("\r")

n = 5
numpat(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Pattern3**

In [ ]:

# Python 3.x code to demonstrate star pattern
 
# Function to demonstrate printing pattern of alphabets
def alphapat(n):
     
    # initializing value corresponding to 'A'
    # ASCII value
    num = 65
 
    # outer loop to handle number of rows
    # 5 in this case
    for i in range(0, n):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # explicitely converting to char
            ch = chr(num)
         
            # printing char value
            print(ch, end=" ")
     
        # incrementing number
        num = num + 1
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
alphapat(n)

A
B B
C C C
D D D D
E E E E E

Write a Python program to get a single string from two given strings, separated by a space and swap the first characters of each string.
 Sample String : 'abc', 'xyz' 
 Expected Result : 'xbc ayz'**bold text**

In [ ]:
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

Write a Python program to count the number of characters (character frequency) in a string. 
 Sample String : google.com'
 Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1

In [ ]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

**Write a Python program that takes input from the user and displays that input back in upper and lower cases.**

In [ ]:
user_input = input("Enter Your Name")
print("Your Name is ", user_input.upper())
print("Your Name is ", user_input.lower())

Enter Your NameSiddhant Sharma
Your Name is  SIDDHANT SHARMA
Your Name is  siddhant sharma

**Write a Python program to remove spaces from a given string.**

In [ ]:
def remove_spaces(str1):
  str1 = str1.replace(' ','')
  return str1
    
print(remove_spaces("s i d d h a n t"))
print(remove_spaces("s h a r m a"))

siddhant
sharma

**Write a Python program to find the maximum occurring character in a given string.**

In [ ]:

test_str = "AcroPolisAcroManagementAcro"

# printing original string
print ("The original string is : " + test_str)

# using naive method to get
# Maximum frequency character in String
all_freq = {}
for i in test_str:
	if i in all_freq:
		all_freq[i] += 1
	else:
		all_freq[i] = 1
res = max(all_freq, key = all_freq.get)


res

The original string is : AcroPolisAcroManagementAcro

'o'

**Write a function x(n) for computing an element in the sequence xn=n^2+1. Call the function for n=4 and write out the result.**

In [3]:
def x(n):
    return n**2 + 1

print(x(4))

17

**Take the following Python code that stores a string: ‘str = 'Y-tatata-acropolis: 0.8475'. Use find and string slicing to extract the portion of the string after the colon character and then use the float function to convert the extracted string into a floating point number.**

In [5]:
str = 'Y-tatata-acropolis: 0.8475'

pos = str.find(':')
org_str = str[pos+1:]
print(float(org_str))

0.8475

**Write a function that computes the area of a rectangle. Then, write a second function that calls this function three times to compute the surface area of a rectangular solid.**

In [6]:
def area_of_rect(l,b):
    return l*b


def surface_area(l,b,h):
    return 2 * (area_of_rect(l,b) + area_of_rect(h,l) + area_of_rect(h,b))


l = float(input("Enter Length : "))
b = float(input("Enter Breadth : "))
h = float(input("Enter Height : "))
print(surface_area(l,b,h))

Enter Length : 2
Enter Breadth : 3
Enter Height : 4
52.0

**Create an outer function that will accept three parameters, a, b and c. Create an inner function inside an outer function that will calculate the addition of a, b and c. At last, an outer function will add 5 into addition and return it**

In [7]:
def outer_fun(a, b):

    def addition(a, b):
        return a + b


    add = addition(a, b)
    return add + 5



result = outer_fun(5, 10)
print(result)

20

**Write a program to create a recursive function to calculate the product of numbers from 10 to 100.**

In [8]:
def mult(num):
    if (num == 10):
        return num

    return num * mult(num-1)


res = mult(100)
print(res)

257182031095525112107857249934597388918419224714455526533820998388496472644482792132224051962512451185663850090463028434334174412800000000000000000000000

**Write a Python function  to check whether the given integer is a prime number or not.**

In [9]:

num = 11

if num > 1:

	for i in range(2, int(num/2)+1):

		if (num % i) == 0:
			print(num, "is not a prime number")
			break
	else:
		print(num, "is a prime number")

else:
	print(num, "is not a prime number")

11 is a prime number

**Python program to display the sum of input (n) numbers using a list.**

In [10]:

total = 0

list1 = [11, 5, 17, 18, 23]

for ele in range(0, len(list1)):
	total = total + list1[ele]

print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

**Python program to insert a number to given position in a list.**

In [11]:


list1 = [ 1, 2, 3, 4, 5, 6, 7 ]

list1.insert(4, 10)
print(list1)

list2 = ['a', 'b', 'c', 'd', 'e']

list2.insert(0, 'z')
print(list2)

[1, 2, 3, 4, 10, 5, 6, 7]
['z', 'a', 'b', 'c', 'd', 'e']